@using AzureTestTurboAz.Models;
@{
    ViewData["Title"] = "ProductPage";
}
<h1>@ViewData["Title"]</h1>

<div class="col-lg-3 col-md-4">
			<div class="row p-2">
				<div class="row pb-3">
					<div class="card">
						<div> 
							 <img style="height: 100%; width: 100%" src="@ViewBag.BlobSasUrl" alt="Blob Image" />
						</div>
						<div class="card-body">
							<div class="pl-1">
								<p class="card-title h5 text-primary">@Product.pr.Name</p>
								<p class="card-title text-info">by <b>@Product.pr.Color</b></p>
							    <p class="card-title h5 text-primary">@Product.pr.StandardCost</p>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>
